extends layoutMe

block append header
  link(rel='stylesheet', href='/css/table.css')

block contentMe
  main.main
    .card-container.column-1
      h2.heading-secondary Account settings
      .right: a.btn.btn--green.btn--small(href="/manage/tours/new") New tour
      .table-responsive-vertical.shadow-z-1
        table#table.table.table-hover
          thead
            tr
              th #
              th Name
              th Location
              th Difficulty
              th Duration
              th
          tbody
            each tour, i in tours
              tr
                td(data-title="#"): a(href=`/tours/${tour.slug}`) #{i+1}
                td(data-title="Name"): a(href=`/tours/${tour.slug}`) #{tour.name}
                td(data-title="StartLocation"): a(href=`/tours/${tour.slug}`) #{tour.locations[0].description}
                td(data-title="Difficulty"): a(href=`/tours/${tour.slug}`) #{tour.difficulty[0].toUpperCase()}#{tour.difficulty.slice(1,99)}
                td(data-title="Duration"): a(href=`/tours/${tour.slug}`) #{tour.duration} days
                td(data-title="Control")
                  a(href=`/manage/tours/${tour._id}`): svg.card__icon.ma-rt-sm: use(xlink:href='/img/icons.svg#icon-edit')
                  a.delete-tour(id=tour._id, href=''): svg.card__icon.red: use(xlink:href='/img/icons.svg#icon-trash')
        .right.ma-bt-sm.ma-rt-md: h3: i Material Design - Responsive Table by 
          a(href="https://codepen.io/zavoloklom/pen/IGkDz", target="_blank") Sergey Kupletsky

block append script
  script(src="/js/manageTour.js")