extends layout

block append header
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css', rel='stylesheet')
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="https://js.stripe.com/v3/")
  if jwt
    meta(jwt=jwt)

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=tour.name)
    .heading-box
      h1.heading-primary
        span #{tour.name}
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text #{tour.duration} days
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text #{tour.startLocation.description}
      if currentUser
        .heading-box__group
          a#favBtn(class=`no-decor btn-fav ${isFavourite ? 'isFav' : ''}`, href='#', data-tour_id=tour._id, isFavourite=isFavourite): .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-heart')
            span#favBtnText.heading-box__text #{!isFavourite ? 'Add to favourite' : 'Remove from favourite'}

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-calendar')
            span.overview-box__label Next date
            span.overview-box__next #{tour.startDates[0].startDate.toLocaleString('en-us', { month: 'long', year: 'numeric' })}
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-trending-up')
            span.overview-box__label Difficulty
            span.overview-box__next #{tour.difficulty[0].toUpperCase()}#{tour.difficulty.slice(1,99)}
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-user')
            span.overview-box__label Participants
            span.overview-box__next #{tour.maxGroupSize} people
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-star')
            span.overview-box__label Rating
            span.overview-box__next #{tour.ratingsAverage} / 5

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides
          // Loop guides 
          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=guide.role)
              span.overview-box__label #{guide.role === 'lead-guide' ? 'Lead guide' : 'Tour guide'}
              span.overview-box__text #{guide.name}

    .description-box
      h2.heading-secondary.ma-bt-lg About #{tour.name.toLowerCase()} tour
      p.description__text #{tour.description}        

  section.section-pictures
    // Loop images here
    each image, i in tour.images
      .picture-box
        img(class=`picture-box__img picture-box__img--${i+1}`, src=`/img/tours/${image}`, alt=`${tour.name} Tour ${i+1}`)    

  section.section-map
    #map(data-locations=JSON.stringify(tour.locations))

  section.section-reviews
    .reviews
      // Loop reviews here
      each review in tour.reviews
        .reviews__card
          .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=review.user.name)
            h6.reviews__user #{review.user.name}
          p.reviews__text #{review.review}
          .reviews__rating
            // Loop stars based on rating floored
            each star in [1, 2, 3, 4, 5]
              svg(class=`reviews__star reviews__star${star <= review.rating ? '--active' : '--inactive'}`)
                use(xlink:href="/img/icons.svg#icon-star")


  if hasBooked
    section.section-cta
      .cta.review-box
        form#reviewSubmit(data-tour_id=tour._id, data-review_id=hasReviewed ? tour.reviews[0]._id : false)
          h2.heading-secondary #{tour.name}
          h2.ma-bt-sm Tell us about your experience
          .form__group
            for i in [1, 2, 3, 4, 5]
              svg(id=`rs${i}`, class=`overview-box__icon review-star ${i<5 ? 'ma-rt-sm' : ''} ${hasReviewed && i<=tour.reviews[0].rating ? 'commit-active' : ''} ${hasReviewed && i===tour.reviews[0].rating ? 'rating' : ''}`, data-index=i)
                use(xlink:href='/img/icons.svg#icon-star')
          .form__group.ma-bt-md
            textarea#review.form__input.medium #{hasReviewed ? tour.reviews[0].review : ''}
          .form__group.right
            button.btn.btn--green #{hasReviewed ? 'Update' : 'Submit'} Review
          input#reviewMethod(type="hidden", value=hasReviewed ? 'update' : 'create')
        
  section(class=`section-cta ${hasBooked ? 'pa-tp-xl' : ''}`)
    .cta
      .cta__img.cta__img--logo
        img(src="/img/logo-white.png", alt="Natours logo")
      // Loop only 2 tour image
      each image, i in tour.images
        if i < 2
          img(class=`cta__img cta__img--${i+1}`, src=`/img/tours/${image}`, alt="")

      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text #{tour.duration} days. #{tour.locations.length} adventure#{tour.locations.length > 1 ? 's' : ''}. Infinite memories. Make it yours today!
        if !currentUser
          a.btn.btn--green.span-all-rows(href='/login') Login to book
        else
          - const allSoldOut = (tour.startDates.map(sd => sd.participants.length)).reduce((b, a) => b + a) >= tour.maxGroupSize
          button#booking(class=`btn ${!allSoldOut ? 'btn--green' : ''} span-all-rows`, disabled=allSoldOut ? true : false) #{!allSoldOut ? 'Book tour now!' : 'SOLD OUT'}
          if !allSoldOut
            #bookingDateWrapper.form__group.hide
              select#bookingDate.form__input(tour-id=tour._id)
                option.bookingDateReset(value='reset') Please pick a date
                for date in tour.startDates
                  if !date.isSoldOut && !tour.bookings.map(bk => bk.startDate.toString()).includes(date._id.toString())
                    option(value=date._id) (#{date.participants.length}/#{tour.maxGroupSize}) #{date.startDate.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', timeZoneName: 'short' })}

block append script
  script(src="/js/flash.js")
  script(src="/js/mapbox.js")
  script(src="/js/booking.js")
  if jwt
    script(src="/js/axiosConfig.js")